# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/logs/
/target/
.classpath
.project
.settings/
*.springBeans
ops-support/ops-mq/bin/.gitignore
ops-support/ops-mq/bin/.mvn/wrapper/maven-wrapper.jar
ops-support/ops-mq/bin/.mvn/wrapper/maven-wrapper.properties
ops-support/ops-mq/bin/mvnw
ops-support/ops-mq/bin/mvnw.cmd
ops-support/ops-mq/bin/pom.xml
ops-support/ops-mq/bin/src/main/resources/application.properties
